<!doctype html>
<html lang="en">

	<head>
		<%- include('common/head.ejs') %>
		<title>Slides - slides</title>

		<link rel="stylesheet" href="/reveal.js/dist/reveal.css">
		<link id="themeCSS" rel="stylesheet" href="/reveal.js/dist/theme/white.css" id="theme">

		<!-- light mode -->
		<!-- <link rel="stylesheet" href="/reveal.js/plugin/highlight/monokai.css"> -->
		<!-- dark mode -->
		<link rel="stylesheet" href="/reveal.js/plugin/highlight/zenburn.css">
	</head>

	<body>
		<div class="u-pos:abs">
			<!-- color schema picker button -->
			<button class=":circle btn sz:xl" id="schemaBtn">
				<img src="/img/eye-dropper-solid.svg" alt="Schema Picker">
			</button>

			<!-- info picker button -->
			<button class=":circle btn sz:xl" id="infoBtn">
				<img src="/img/info-circle-solid.svg" alt="=Info">
			</button>

			<!-- home -->
			<a href="/" class=":circle btn sz:xl">
				<img src="/img/home-solid.svg" alt="Home">
			</a>
			<%= locals.mode %>
		</div>

		<!-- schema picker -->
		<div class="modal f-row:6" id="schemaPicker">
			<div class="modal_container">
				<header class="modal_head">
					<h3 class="modal_title">Theme</h3>
				</header>
				<form class="u-overflow:a">
					<main class="modal_body">
						<div class="modal_content">
							<h6>Dark</h6>
							<label class="option">
								<input type="radio" name="sch" value="black" class="option_input">
								<span class="option_obj">black</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="blood" class="option_input">
								<span class="option_obj">blood</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="league" class="option_input">
								<span class="option_obj">league</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="moon" class="option_input">
								<span class="option_obj">moon</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="night" class="option_input">
								<span class="option_obj">night</span>
							</label>
							<hr>
							<h6>Light</h6>
							<label class="option">
								<input type="radio" name="sch" value="beige" class="option_input">
								<span class="option_obj">beige</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="serif" class="option_input">
								<span class="option_obj">serif</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="simple" class="option_input">
								<span class="option_obj">simple</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="sky" class="option_input">
								<span class="option_obj">sky</span>
							</label>
							<br>
							<label class="option">
								<input type="radio" name="sch" value="solarized" class="option_input">
								<span class="option_obj">solarized</span>
							</label>
							<br>
							<label class="option">
								<input checked type="radio" name="sch" value="white" class="option_input">
								<span class="option_obj">white</span>
							</label>
						</div>
					</main>
					<footer class="modal_btn-grp">
						<button id="schemaClose" class="btn clr:primary" type="submit">OK</button>
					</footer>
				</form>
			</div>
		</div>

		<!-- info box -->
		<div class="modal sz:lg" id="infoBox">
			<div class="modal_container">
				<header class="modal_head">
					<h3 class="modal_title">Info</h3>
				</header>
				<main class="modal_body">
					<div class="modal_content">
						<a class="link" href="<%= url %>" target="_blank">RAW markdown</a>
						<hr>
						<a class="link" href="<%= originUrl %>" target="_blank">GitHub URL</a>
						<hr>
						<canvas id="infoQrcode"></canvas>
					</div>
				</main>
				<footer class="modal_btn-grp">
					<button class="btn clr:primary" id="infoClose">Ok</button>
				</footer>
			</div>
		</div>

		<div class="reveal" id="slides">
			<div class="slides">
				<section data-markdown="<%= locals.url ? locals.url : '' %>" data-separator-vertical="^\n?\n----\n?\n$" data-separator="^\n?\n---\n?\n$">
					<%= locals.markdown || '' %>
				</section>
			</div>
		</div>

		<script src="/reveal.js/dist/reveal.js"></script>
		<script src="/reveal.js/plugin/markdown/markdown.js"></script>
		<script src="/reveal.js/plugin/highlight/highlight.js"></script>
		<script src="/reveal.js/plugin/notes/notes.js"></script>

		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>

		<script src="/js/qrcode.js"></script>
		<script src="/js/slides.js"></script>
	</body>
</html>
